html {
  background-color: teal;
  color: white;
  text-align: center;
}

h1 {
  background-color: wheat;
  color: teal;
  padding: 30px;
  font-size: xx-large;
  font-weight: bolder;
}

h2 {
  padding: 40px;
  color: tomato;
  font-weight: bold;
  font-size: large;
}

p {
  padding: 10px;
}
